// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
}

html {
	background-color: #EEE;
}

a {
	text-decoration: none;
	color: #EEE;
}

a:hover {
	text-decoration: none;
	color: #F25A31;
}

.logo {
	/*text-align: center;*/
	color: #EEE;

}

.question {
	float: left;
	width: 200px;
	padding-top: 17px;
}

.title {
	width: 150px;
	margin: 0 auto;
	padding: 8px 0;
}

.login {
	float: right;
	width: 104px;
	padding-top: 17px;
}
.container-fluid {
	background-color: #EEE;
}

.tweet-container {
	border: 1px solid black;
	background-color: #EEE;
	padding: 8px;
}

.hashtag-container {
	border: 1px solid black;
	background-color: #EEE;
	padding: 8px;
}

.hashtag-title {
	text-align: center;
}

.bit {
	color: #00a9e7;
}
